{% from 'BtnAdminBundle:Utils:flash.html.twig' import session_flash %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %}{{ 'btn.control.title'|trans }}{% endblock %}</title>
        <base href="{{app.request.schemeAndHttpHost }}">
        {% block stylesheets %}<link rel="stylesheet" href="{{ asset('css/control.css') }}">{% endblock %}
    </head>
    <body id="body">

        {% include 'BtnAdminBundle:Utils:nav.html.twig' with {nav_items: ''} %}

        {% block body %}
            <div class="container">

                {{ block('breadcrumb') }}

                {% if app.session.flashbag.peekAll|length > 0 %}
                    <div class="row-fluid">
                        <div class="span12">{{ session_flash() }}</div>
                    </div>
                {% endif %}

                <div class="row-fluid">
                    <div class="span12" id="content">
                        {% block content %}{% endblock %}
                    </div><!--/span-->
                </div><!--/row-->
                <hr>
                <footer><p>&copy; 2014</p></footer>
            </div><!--/.fluid-container-->
        {% endblock %}

        {% block javascripts %}
            <script src="{{ asset('js/control.js') }}"></script>
        {% endblock %}
    </body>
</html>
