<!DOCTYPE html>
<html lang="{{ app.request.locale|split('_')[0] }}">
    <head>
        {% block head %}
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <title>{% block title %}{{ 'btn_admin.base.title.default'|trans }}{% endblock %}</title>
            <base href="{{ app.request.schemeAndHttpHost ~ app.request.basePath }}">
            {% block stylesheets %}
                {% include 'BtnAdminBundle:Partials:stylesheets_pre.html.twig' ignore missing only %}
                {% include 'BtnAdminBundle:Partials:stylesheets.html.twig' only %}
                {% include 'BtnAdminBundle:Partials:stylesheets_post.html.twig' ignore missing only %}
            {% endblock %}
            {% block javascripts_head %}
                {% include 'BtnAdminBundle:Partials:javascripts_head_pre.html.twig' ignore missing only %}
                {% include 'BtnAdminBundle:Partials:javascripts_head.html.twig' only %}
                {% include 'BtnAdminBundle:Partials:javascripts_head_post.html.twig' ignore missing only %}
            {% endblock %}
        {% endblock %}
    </head>
    <body id="body">

        {% block body %}

            {% block navbar %}
                {% include 'BtnAdminBundle:Partials:navbar.html.twig' only %}
            {% endblock %}

            <div class="container-fluid">
                {% block breadcrumb %}{% endblock %}
                {% include 'BtnAdminBundle:Partials:container_session_flash.html.twig' only %}

                <div class="row">
                    <div class="col-md-12" id="content">
                        {% block content %}{% endblock %}
                    </div>
                </div>
                <hr>
                <footer><p>{{ btn_admin.app.name }} &copy; {{ btn_admin.app.year }}</p></footer>
            </div>
        {% endblock %}

        {% block javascripts %}
            {% include 'BtnAdminBundle:Partials:javascripts_pre.html.twig' ignore missing only %}
            {% include 'BtnAdminBundle:Partials:javascripts.html.twig' only %}
            {% include 'BtnAdminBundle:Partials:javascripts_post.html.twig' ignore missing only %}
        {% endblock %}
    </body>
</html>
