{% from 'BtnAdminBundle:Macros:breadcrumb.html.twig' import bcr %}
{% import 'BtnAdminBundle:Macros:link.html.twig' as lnk %}
{% import 'BtnAdminBundle:Macros:list.html.twig' as lst %}
{% extends 'BtnAdminBundle::list.html.twig' %}

{% block breadcrumb %}
    {{ bcr({route_index: 'btn_admin.list'}) }}
{% endblock %}

{% block list_header %}
    {% if filter_form is defined and filter_form %}
        <div class="pull-right">{{ form(filter_form) }}</div>
        <div class="pull-left">{{ lst.header(list_header) }}</div>
    {% else %}
        {{ lst.header(list_header) }}
    {% endif %}
{% endblock %}

{% block list_table %}
    {% block list_table_start -%}
        <table class="{{ lst.table_class() }}">
    {%- endblock %}
    {% block list_table_thead -%}
        <thead>
            {% block list_table_head %}
                <tr>
                    <th class="{{ lst.col_id_class() }}">{% trans %}btn_admin.id{% endtrans %}</th>
                    {% block list_table_head_columns %}
                        {# base block to override #}
                    {% endblock %}
                    <th class="{{ lst.col_act_class(col_act_class) }}">{% trans %}btn_admin.actions{% endtrans %}</th>
                </tr>
            {% endblock %}
        </thead>
    {%- endblock %}
    {% block list_table_tbody %}
        <tbody>
            {% block list_table_body %}
                {% for entity in pagination %}
                    {% block list_table_body_row_start -%}
                        <tr data-id="{{ entity.id }}" >
                    {%- endblock %}
                        <td class="{{ lst.col_id_class() }}">{{ entity.id }}</td>
                        {% block list_table_body_columns %}
                            {# base block to override #}
                        {% endblock %}
                        <td class="{{ lst.col_act_class }}">
                            {% block list_table_row_action_pre %}{% endblock %}
                            {% block list_table_row_action %}
                                {{ lnk.edit(route_edit, { id: entity.id }) }}
                            {% endblock %}
                            {% block list_table_row_action_post %}{% endblock %}
                        </td>
                    </tr>
                {% endfor %}
            {% endblock %}
        </tbody>
    {% endblock %}
    </table>
{% endblock %}

{% block list_pagination %}
    {{ knp_pagination_render(pagination) }}
{% endblock %}

{% block list_buttons %}
    {{ lnk.add(route_new) }}
{% endblock %}
