{% macro blank(label, route, route_params = {}) %}
{% spaceless %}
    <a href="{{ path(route, route_params) }}" class="btn">
        {{ label|trans }}
    </a>
{% endspaceless %}
{% endmacro %}

{% macro default(label, route, route_params = {}) %}
{% spaceless %}
    <a href="{{ path(route, route_params) }}" class="btn btn-default">
        {{ label|trans }}
    </a>
{% endspaceless %}
{% endmacro %}

{% macro primary(label, route, route_params = {}) %}
{% spaceless %}
    <a href="{{ path(route, route_params) }}" class="btn btn-primary">
        {{ label|trans }}
    </a>
{% endspaceless %}
{% endmacro %}

{% macro success(label, route, route_params = {}) %}
{% spaceless %}
    <a href="{{ path(route, route_params) }}" class="btn btn-success">
        {{ label|trans }}
    </a>
{% endspaceless %}
{% endmacro %}

{% macro info(label, route, route_params = {}) %}
{% spaceless %}
    <a href="{{ path(route, route_params) }}" class="btn btn-info">
        {{ label|trans }}
    </a>
{% endspaceless %}
{% endmacro %}

{% macro warning(label, route, route_params = {}) %}
{% spaceless %}
    <a href="{{ path(route, route_params) }}" class="btn btn-warning">
        {{ label|trans }}
    </a>
{% endspaceless %}
{% endmacro %}

{% macro danger(label, route, route_params = {}) %}
{% spaceless %}
    <a href="{{ path(route, route_params) }}" class="btn btn-danger">
        {{ label|trans }}
    </a>
{% endspaceless %}
{% endmacro %}

{% macro back(route, route_params = {}, label = 'btn_admin.back') %}
{% spaceless %}
    <a href="{{ path(route, route_params) }}" class="btn btn-default btn-back">
        {{ label|trans }}
    </a>
{% endspaceless %}
{% endmacro %}

{% macro add(route, route_params = {}, label = 'btn_admin.add') %}
{% spaceless %}
    <a href="{{ path(route, route_params) }}" class="btn btn-success btn-add">
        {{ label|trans }}
    </a>
{% endspaceless %}
{% endmacro %}

{% macro edit(route, route_params = {}, label = 'btn_admin.edit') %}
{% spaceless %}
    <a href="{{ path(route, route_params) }}" class="btn btn-primary btn-edit">
        {{ label|trans }}
    </a>
{% endspaceless %}
{% endmacro %}

{% macro show(route, route_params = {}, label = 'btn_admin.show') %}
{% spaceless %}
    <a href="{{ path(route, route_params) }}" class="btn btn-primary btn-show">
        {{ label|trans }}
    </a>
{% endspaceless %}
{% endmacro %}

{% macro delete(route, route_params = {}, label = 'btn_admin.delete') %}
{% spaceless %}
    <a href="{{ csrf_path(route, route_params) }}" class="btn btn-danger btn-delete">
        {{ label|trans }}
    </a>
{% endspaceless %}
{% endmacro %}
