{% extends 'BtnAdminBundle:Default:layout.html.twig' %}
{% form_theme form 'BtnAdminBundle:Form:fields.html.twig' %}

{% block content %}
    <form action="{{ path('btn_admin_user_edit', {id: user.id}) }}" {{ form_enctype(form) }} method="POST" class="fos_user_profile_edit form-horizontal" role="form">
        {{ form_widget(form) }}
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="btn_admin_update_button"></button>
            </div>
        </div>
    </form>

    <form action="{{ path('btn_admin_user_delete', {id: user.id}) }}" method="post">
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                {{ form_widget(delete_form) }}
                <a href="{{ path('btn_admin_users_list') }}" class="btn">&laquo; {{ 'btn_control.back'|trans }}</a>
                <button type="btn_admin_delete_button" data-confirm="{{ 'btn_admin.confrim'|trans }}"></button>
            </div>
        </div>
    </form>
{% endblock  %}
