{% set route_active = app.request.attributes.get('_route') %}

{% macro menu_active_class(route_name, route_active) %}
    {% if
        route_active == route_name or
        route_active == route_name ~ '_show' or
        route_active == route_name ~ '_new' or
        route_active == route_name ~ '_create' or
        route_active == route_name ~ '_edit' or
        route_active == route_name ~ '_update' or
        route_active == route_name ~ '_delete'
    %} active{% endif %}
{% endmacro %}

{% macro submenu_active_class(sub_items, route_active) %}
    {% import _self as control %}
    {% for nav_sub_item in sub_items %}
        {{ control.menu_active_class(nav_sub_item.cp_route_name, route_active) }}
    {% endfor %}
{% endmacro %}
{% import _self as menu %}

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#header-menu">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{ path('cp_homepage') }}">{{ 'btn_control.logo'|trans }}</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="header-menu">
        <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="{{ path('cp_homepage') }}" class="dropdown-toggle" data-toggle="dropdown">
            {% trans %}btn_control.loged_as{% endtrans %}
            {{ app.user ? app.user.username }}
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="{{ path('fos_user_profile_edit') }}"><span class="glyphicon glyphicon-user"></span> {{ 'btn_control.profile'|trans }}</a></li>
            <li><a href="{{ path('fos_user_change_password') }}"><span class="glyphicon glyphicon-pencil" ></span> {{ 'btn_control.change_password'|trans }}</a></li>
            <li class="divider"></li>
            <li><a href="{{ path('fos_user_security_logout') }}"><span class="glyphicon glyphicon-off"></span> {{ 'btn_control.logout'|trans }}</a></a></li>
          </ul>
        </li>
      </ul>
        {{ knp_menu_render('top_menu') }}

    </div><!-- /.navbar-collapse -->
</nav>
