{% extends "BtnAdminBundle::panel.html.twig" %}

{% block panel_title %}{% trans %}btn_admin.login.title{% endtrans %}{% endblock %}

{% block panel_body %}
    {% if error %}
        <div class="alert alert-danger">{{ error|trans({}, 'FOSUserBundle') }}</div>
    {% endif %}
    <form action="{{ path("fos_user_security_check") }}" role="form" method="POST">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
        <div class="form-group">
            <input type="username" name="_username" class="form-control" placeholder="{{ 'btn_admin.login.username'|trans }}" required autofocus>
        </div>
        <div class="form-group">
            <input type="password" name="_password" class="form-control" placeholder="{{ 'btn_admin.login.password'|trans }}" required>
        </div>
        <div class="form-group">
            <input type="checkbox" name="_remember_me" value="remember-me" id="checkbox">
            <label for="checkbox">{{ 'btn_admin.login.remember_me'|trans }}</label>
        </div>
        <button class="btn btn-primary" name="_submit" type="submit">{{ 'btn_admin.login.button'|trans }}</button>
    </form>
{% endblock %}
