{% extends 'BtnAdminBundle::base.html.twig' %}

{% block content %}
    <div class="fos_user_user_show"></div>
    <a href="{{ path('btn_admin_user_new') }}" class="btn btn-default"> <i class="glyphicon glyphicon-user"></i> {{ 'btn_admin.user_add'|trans }}</a>
    <div class="table-responsive">
      <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>{{ 'btn_admin.username'|trans }}</th>
                <th>{{ 'btn_admin.email'|trans }}</th>
                <th>{{ 'btn_admin.enabled'|trans }}</th>
                <th>{{ 'btn_admin.last_login'|trans }}</th>
                <th>{{ 'btn_admin.actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.enabled }}</td>
                    <td>{{ user.lastLogin|date('d-m-Y H:i:s') }}</td>
                    <td>
                        <a href="{{ path('btn_admin_user_edit', {id: user.id}) }}" class="btn btn-success">{{ 'btn_admin.edit'|trans }}</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
      </table>
    </div>
{% endblock  %}
