{% extends 'BtnAdminBundle:Crud:index.html.twig' %}

{% do btn_load_assets(['btn_admin_loading', 'btn_admin_sortable']) %}

{% block list_table_start %}
    {% set offset = pagination.currentPageNumber * pagination.itemNumberPerPage - pagination.itemNumberPerPage %}
    <table class="{{ lst.table_class() }}" data-offset="{{ offset }}" btn-sortable="{{ path(route_prefix ~ '_position') }}">
{% endblock %}

{% block list_table_head_columns %}
    {{ parent() }}
    {% if can_change_position %}
        <th class="text-center">{{ 'btn_admin.change_position'|trans }}</th>
    {% endif %}
{% endblock %}

{% block list_table_body_columns %}
    {{ parent() }}
    {% if can_change_position %}
        <td class="move-position text-center"><i class="glyphicon glyphicon-move"></i></td>
    {% endif %}
{% endblock %}
