{% extends 'BtnAdminBundle::base.html.twig' %}

{% block content %}
    <form action="{{ path('btn_admin_user_update', {id: user.id}) }}" {{ form_enctype(form) }} method="POST" class="fos_user_profile_edit form-horizontal" role="form">
        {{ form_widget(form) }}
    </form>

    <form action="{{ path('btn_admin_user_delete', {id: user.id}) }}" method="POST">
        <div class="form-group delete-form">
            <div class="col-sm-offset-2 col-sm-10">
                <a href="{{ path('btn_admin_user_list') }}" class="btn">&laquo; {{ 'btn_admin.back'|trans }}</a>
                {{ form_widget(delete_form) }}
            </div>
        </div>
    </form>
{% endblock  %}
